<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings>
    <add name="AutoSystemDb" connectionString="Data Source=.;Initial Catalog=AutoSystemDb;Integrated Security=True" providerName="System.Data.SqlClient" />
    <!--<add name="AutoSystemDb" connectionString="Server=4a1307f0-e22f-42cd-b0bf-a3a200cd8ffc.sqlserver.sequelizer.com;Database=db4a1307f0e22f42cdb0bfa3a200cd8ffc;User ID=ibrlzofhlhwkopca;Password=magNELFAQv6yFwfBU235c4NndqDHq7i3Z2MyKPSQCoTGKVTdkzLPQh6qu3Koh6jS" providerName="System.Data.SqlClient" />-->
  </connectionStrings>
</configuration>